body{
    background-color: #ffd2df;
}

.carrossel{
    width: 640px;
    height: 360px;
    overflow: hidden;
}

.carrossel .fotos{
    width: 1100%;
    animation: animacao 40s infinite;
}

.carrossel .fotos img{
    width: 636px;
}

@keyframes animacao{
    0%{margin-left: 0;}
    7.5%{margin-left: 0;}
    10%{margin-left: -100%;}
    17.5%{margin-left: -100%;}
    20%{margin-left: -200%;}
    27.5%{margin-left: -200%;}
    30%{margin-left: -300%;}
    37.5%{margin-left: -300%;}
    40%{margin-left: -400%;}
    47.5%{margin-left: -400%;}
    50%{margin-left: -500%;}
    57.5%{margin-left: -500%;}
    60%{margin-left: -600%;}
    67.5%{margin-left: -600%;}
    70%{margin-left: -700%;}
    77.5%{margin-left: -700%;}
    80%{margin-left: -800%;}
    87.5%{margin-left: -800%;}
    90%{margin-left: -900%;}
    97.5%{margin-left: -900%;}
    100%{margin-left: -1000%;}
}
