body{
    background-color: #ffd2df;
}

.carrossel{
    width: 640px;
    height: 360px;
    overflow: hidden;
}

.carrossel .fotos{
    width: 1100%;
    animation: animacao 40s infinite;
}

.carrossel .fotos img{
    width: 9.1%;
}

@keyframes animacao{
    0%{margin-left: 0;}
    %{margin-left: 0;}
    %{margin-left: -100%;}
    %{margin-left: -100%;}
    %{margin-left: -200%;}
    %{margin-left: -200%;}
    %{margin-left: -300%;}
    %{margin-left: -300%;}
    %{margin-left: -400%;}
    %{margin-left: -400%;}
    %{margin-left: -500%;}
    %{margin-left: -500%;}
    %{margin-left: -600%;}
    %{margin-left: -600%;}
    %{margin-left: -700%;}
    %{margin-left: -700%;}
    %{margin-left: -800%;}
    %{margin-left: -800%;}
    %{margin-left: -900%;}
    %{margin-left: -900%;}
    100%{margin-left: -1000%;}
}
